# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.*

# Logs
*.log
npm-debug.log*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build Artifacts
dist/
build/
*.zip
coverage/

# AWS & Infrastructure
cdk.out/
.aws-sam/

# Data & Local DBs
*.db
*.duckdb
*.parquet
temp/
tmp/

# Documentation
*.slug
